# **Assignment 4**

# **QUESTION 1**

**How to import pandas and check the version?**

# **ANSWER**

In [ ]:
#importing pandas with its alias name
import pandas as pd
print(pd.__version__)

1.1.4

# **QUESTION 2**

**How to create a series from a numpy array?**

# **ANSWER**

In [ ]:
#importing numpy and pandas
import pandas as pd 
import numpy as np 
  
# creating numpy array 
data = np.array([14,25,36,47,58,69,17,28,39]) 
print("numpy array is:", data)

# creating series 
s = pd.Series(data) 
print("series of above numpy array is :")
print(s)

numpy array is: [14 25 36 47 58 69 17 28 39]
series of above numpy array is :
0    14
1    25
2    36
3    47
4    58
5    69
6    17
7    28
8    39
dtype: int64

# **QUESTION 3**

**How to convert the index of a series into a column of a dataframe?**

# **ANSWER**

In [ ]:
#importing numpy and pandas
import pandas as pd 
import numpy as np 
  
# creating numpy array 
data = np.array([14,25,36,47,58,69,17,28,39]) 
print("numpy array is:", data)

# creating series 
s = pd.Series(data) 
print("series of above numpy array is :")
print(s)

#creating DataFrame

pd.DataFrame(s, columns=['ABC'])

numpy array is: [14 25 36 47 58 69 17 28 39]
series of above numpy array is :
0    14
1    25
2    36
3    47
4    58
5    69
6    17
7    28
8    39
dtype: int64

   ABC
0   14
1   25
2   36
3   47
4   58
5   69
6   17
7   28
8   39

# **QUESTION 4**

**Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)**

# **ANSWER**

In [ ]:
#code to list all the datasets available in seaborn library. 

#importing seaborn as sns
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [ ]:
#loading mpg dataset from seaborn

# importing seaborn
import seaborn as sns

#loading mpg dataset
mpg=sns.load_dataset('mpg')
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

# **QUESTION 5**

**Which country origin cars are a part of this dataset?**

# **ANSWER**

In [ ]:
#loading mpg dataset from seaborn

# importing seaborn
import seaborn as sns

#loading mpg dataset
mpg=sns.load_dataset('mpg')

#creating a dataframe of mpg dataset
df=pd.DataFrame(mpg)
print(df)
print(" country origin :", df.origin.unique())

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]
 country origin : ['usa' 'japan' 'europe']

# **QUESTION 6**

**Extract the part of the dataframe which contains cars belonging to 'usa'**

# **ANSWER**

In [ ]:
#loading mpg dataset from seaborn

# importing seaborn
import seaborn as sns

#loading mpg dataset
mpg = sns.load_dataset('mpg')
print(mpg)

#creating a dataframe of mpg dataset
print("The DataFrame of mpg dataset is:")
df = pd.DataFrame(mpg)
us=mpg.loc[mpg['origin']=='usa'] 
print(us)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]
The DataFrame of mpg dataset is:
      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]